/* This is a comment in CSS */

/* element selector*/

h1{
    color:red;
}
a{
    color: blue;
}
/* color names */

p{
    color:green;
}
/* hex color */


button{
    color: #111100;
}

/* rgb color*/

body{
    background-color: rgb(255,255,255);
}
/* universal selector  select all the things */
*{
    color:green;
}
/* id selector  selct id   */
#headingone{
    color:red;
}
#headingtwo{
    color:green;
}
#headingthree{
    color:blue;
}
#headingfour{
    color:yellow;
}
/* class selector select multiple element for same style */
.classone{
    color:violet;
}



/*q1*/
div{
    background-color: blue;
}

/* q2 */
.heading{
    color:red;
}
/* q3 */
button{
    background-color:green;
}

/* test alignment right left or center */
#one{
    text-align: center;
}
/* .two{
    text-align: right;
} */

/* text alignment in css3 */
.two{
    text-align: right;
}
/* text decoration underline oveerline and line through */
#one{
    text-decoration: line-through;
}
/* remove underline from links */
a{
    text-decoration: none;
}

/* text properties font weight */
#headingon{
    font-weight:normal;
}
#headingtw{
font-weight:bold;
}
#headingthre{
    font-weight:bolder;
}
#headingfou{
    font-weight:lighter;
}
/* font family or font style */
#two{
    font-family: roboto;
}
#three{
    font-family: Arial, Helvetica, sans-serif;
}

/* absolute units  (pixels) to measure size 96px=1inch */
#two{
    font-size: 12px;
}
#three{
    font-size: 15px;
}
#four{
    font-size: 18px;
}